<div class="centerarticle" id="articlebox_bg"></div>
<div class="content centerarticle articletext">
  <h1>My Family</h1>
  <!--TODO - render @articles -->
  <h2>Mommy</h2>
  <p>.</p>

  <h2>Daddy</h2>
  <p>.</p>

  <h2>Bismarck</h2>
  <p>.</p>

  <h2>Kaiser</h2>
  <p>.</p>

</div>