<div class="centerarticle" id="articlebox_bg"></div>
<div class="content centerarticle articletext">
  <h1>My Family</h1>
  <!--TODO - render @articles -->
  <h2>Mommy</h2>
  <p>I stay home with Mommy all day while Dad goes to work.  She feeds me, burps me,
  changes my diapers, puts me to sleep, and carries me around the house.  She is
  the greatest Mom I could ever hope for, and doesn't even get mad at me even though
  all I do is eat, pee, and poop.  Mommy is staying home with me every day for the next
  few months, at the very least.  Eventually, she's going to use her Masters degree in
  Social Work in the working world, but for now she's content staying home and helping
  me grow!</p>

  <h2>Daddy</h2>
  <p>My dad stayed home with Mom and me for a week after we got home from the hospital,
  but then he had to start going back to work.  I really like the time I get to spend
  with him, especially on the weekends when we have all day together.  Daddy usually
  changes my diapers at night, when I'm not always in the best mood, so that Mommy
  doesn't have to get out of bed.  </p>

  <h2>Bismarck and Kaiser</h2>
  <p>Bismarck and Kaiser hang out with Mommy and I every day.  Bismarck is a German
  Shorthaired Pointer and Kaiser is a Weimaraner / Chocolate Lab mix.  They mostly like
  to lick my face and chase birds and squirrels in the backyard.</p>

</div>