<div class="centerarticle" id="articlebox_bg"></div>
<div class ="content centerarticle articletext">
  <h1>My Photos</h1>
  <ul id="gallery">
    <%= render :partial=>"layouts/photo", :collection=>@photos %>
  </ul>
</div>