<div class="centerarticle" id="articlebox_bg"></div>
<div class="content centerarticle articletext">
  <h1>My Story</h1>
  <!--TODO - pull from database & render @articles -->
  <h2>My Birth</h2>
  <p>I was born at 11:14 PM on Wednesday, February 23rd, 2011 at Henrico Doctor's
    Hospital, outside of Richmond, VA. Both my Mom and my Dad were there when
    I arrived, and Grandma Nina was waiting nearby.  I weighed in at 6 pounds and
    15 ounces, and 19 and a half inches long.  My expected date of birth wasn't
    until March 5th, but I came early because I was so excited to meet my family!</p>
  <p>We stayed at the hospital for two more days while Mommy recovered.  Daddy stayed with
    us the whole time, even though he had to sleep on a really uncomfortable fold-out
    arm chair at night.  We were so lucky to have Grandma stay at our house to take
    care of my brothers Bismarck and Kaiser.  I got to meet lots of friends and
    family while I was still in the hospital, but I'll be the first to admit that
    I was sleeping or eating most of the time while we were there.  </p>

  <h2>My First Few Weeks</h2>
  <p>I finally came home from the hospital on Friday, February 25th with my Mommy
  and Daddy.  Like most of the other big events thus far in my life, I slept through
  the whole drive home.  Mom and Dad came home to all sorts of decorations that Grandma
  had left up, and tons of cards and gifts that had arrived in the mail.  They seemed 
  so happy and appreciative at all the nice things our friends and family had to say,
  and couldn't believe how happy I made everyone else!</p>
  <p>I had my first doctor's appointment the day after coming home, and it was a scary one
    for Mom and Dad.  The doctor said my weight had dropped to 6 pounds, 6 ounces, and
    I had a mild case of jaundice.  Even though that seems like a big amount, Mom and Dad
  were told that it was completely normal for a breast-fed baby, so we crossed our fingers
  and hoped that I started to gain some weight.  Luckily, we went back to the doctor on
  Tuesday, and I was back up to 6 pounds, 10 ounces, which was right on target!  Over the next
  two weeks, I gained even more weight.  The last time Mom and Dad checked, I was a good bit 
  over 8 pounds!!  Dad says I take after him with my eating habits.</p>
  <p>So far, I've been hanging out at home with Mommy while Dad goes to work.  It has been great to
    spend time with all the friends and family that have come to visit, and I can tell that it
    really makes Mom and Dad happy to have company around.  That's pretty much all that's happened
    so far (I didn't feel like it was polite to tell you guys about my diaper load, or how I like to
    keep Mom and Dad up at night crying and making strange noises).  Hopefully the next few months
    go just as well, and I can tell you guys about it afterward!</p>
</div>