<div class="centerarticle" id="articlebox_bg"></div>
<div class="content centerarticle articletext">
  <h1>My Story</h1>
  <!--TODO - render @articles -->
  <h2>My Birth</h2>
  <p>I was born at 11:14 PM on Wednesday, February 23rd, 2011 at Henrico Doctor's
    Hospital, outside of Richmond, VA. Both my Mommy and my Daddy were there when
    I arrived, and Grandma Nina was waiting nearby.  Blah blah blah blah.</p>

  <h2>My First Few Weeks</h2>
  <p>I finally came home from the hospital on Friday, February 25th with my Mommy
  and Daddy.  We were happy to be out of the hospital, though it was scary without
  all the nice nurses and doctors around helping out.  Blah blah blah blah.</p>
</div>