<div id="menubox" class="startinvisible"></div>
<nav>
  <ul id="menulist">
    <li class="startinvisible menu"><%= link_to 'My Photos', james_photos_path %></li>
    <li class="startinvisible menu"><%= link_to 'My Family', james_family_path %></li>
    <li class="startinvisible menu"><%= link_to 'My Story', james_story_path %></li>
    <li class="startinvisible menu"><%= link_to 'Home', james_home_path %></li>
  </ul>
</nav>